<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-7emup03rkfjyyd8w.us.auth0.com</string>
	<key>ClientId</key>
	<string>zfSca0miNtr53ed6LrVep0gPeJW59vNj</string>
</dict>
</plist>
